.assetLoader {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  max-width: 350px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3px 5px;

  &_visible {
    display: flex;
  }

  &--file {
    margin-right: 10px;
  }

  &--prec {
    margin-right: 5px;
    font-size: 10px;
    margin: auto 5px auto 0;
  }

  &--bar {
    display: flex;
    width: 50px;
    padding: 1px;
    border: 1px solid rgb(var(--light));

    &-progress {
      background-color: rgb(var(--light));
    }
  }
}
