.panel {
  position: fixed;
  top: 5px;
  right: 5px;
  max-height: 400px;
  width: 350px;
  background-color: rgb(var(--dark));
  color: rgb(var(--light));
  overflow: auto;
  font-family: monospace;
  opacity: 0.5;

  &--wrapper {
    display: flex;
    flex-direction: column;
  }

  &--title {
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #505050;
  }

  &--groups {
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  &--group {
    &::before {
      content: '>';
      margin-right: 5px;
    }
    .panel--groups {
      padding-left: 15px;
    }
  }

  &--items {
    padding-left: 8px;
    display: flex;
    flex-direction: column;
  }

  &--item {
    padding: 5px;
    display: flex;

    &-name {
      margin: auto 0;
      margin-right: 5px;
    }

    &-value {
      display: flex;
      margin-left: auto;
      div {
        margin: auto 5px auto 0;
      }
      input {
        border: 1px solid rgb(var(--light));
      }
    }
  }
}
