.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  &--message {
    padding: 30px;
    display: flex;
    gap: 20px;

    &_error {
      background-color: rgb(var(--error));
    }
    &_success {
      background-color: rgb(var(--success));
    }
    &_warn {
      background-color: rgb(var(--warn));
      color: rgb(var(--dark));
    }
    &_info {
      background-color: rgb(var(--grey));
      color: rgb(var(--dark));
    }
  }
}
