.input {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(var(--grey));
  padding: 10px 0;

  &:focus {
    background-color: red;
  }

  &--label {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 0.75rem;
    cursor: pointer;
  }

  &--errorMessage {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.75rem;
    color: rgb(var(--error));
  }

  &--content {
    width: 100%;
    border-bottom: 1px solid rgb(var(--grey));
    font-size: 14px;
    padding: 5px 10px;

    input {
      font-size: 1.2rem;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }

  &--helper {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.75rem;
    color: rgb(var(--grey));
  }
}
