@import './reset';
@import './components';

html,
body {
  padding: 0;
  margin: 0;
  color: rgb(var(--light));
  background-color: #000000;
  font-family: 'Comfortaa', cursive;
}

:root {
  // #1d0030
  --purpleDark: 29, 0, 48;
  // #ffffff
  --light: 255, 255, 255;
  // #202020
  --dark: 32, 32, 32;
  // #ce2b2b
  --error: 206, 43, 43;
  // #acacac
  --grey: 172, 172, 172;
  // #40dbc7
  --green: 64, 219, 199;
  // #2bce82
  --success: 43, 206, 130;
  // #ceb32b
  --warn: 206, 179, 43;
}
